<div class="text-center w-50 p-5 m-auto">
    <h3 class="mt-5">Centro de Mensajes</h3>
    <form id="formInputMessage" class="d-flex flex-column">
        <div>
            <input type="text" class="form-control w-100" id="inputMessage" placeholder="Ingrese su email">
        </div>
        <div class="div">
            <input type="text" class="form-control d-inline w-75" id="inputMessage" placeholder="Ingrese su mensaje">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    <div class="mensajes">

    </div>
</div>