<div class="text-center w-50">
    <h3 class="mt-5">Centro de Mensajes</h3>
    <form id="formInputMessage">
            <input type="text" class="form-control" id="inputMessage" placeholder="Ingrese su mensaje">
            <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <div class="mensajes">

    </div>
</div>